body {
  background: $page-bg-color;
  font-family: $ff-base;
  font-weight: $fw-400;
  line-height: 1.5;

  color: $text-primary;
}

h1, h2, h3 {
  font-family: $ff-heading;
  font-weight: $fw-600;
  color: $title-color;
}

.label {
  font-family: $ff-heading;
  font-weight: $fw-700;
  font-size: 13px;

  line-height: 1;
  letter-spacing: 3px;
  color: $label-color;
}


